[submodule "cmake"]
	path = cmake
	url = git@github.com:Glamhoth/cmake
    branch = glamhoth-init-repo
[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2
    branch = v2.x
